@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #22282c;
  background: #faf7f2;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    monospace;
}

body {
  margin: 0;
}
